tensorflow
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
-e . 



## Dev requirements
pytest==7.4.2
tox==4.11.3
black==23.9.1  # to format code
flake8==6.1.0
mypy==1.5.1